{% extends 'products/base.html' %}

{% block title %}
О нас
{% endblock %}

{% block content %}
    <p>Паркетный завод Смолевичи образован в 1994 г. За это время предприятие стало крупнейшим производителем
паркетной продукции в Беларуси и СНГ. Наша фабрика оснащена новейшим оборудованием для распиловки и
сушки леса, а также строгальными линиями лучших мировых производителей.
Современное сушильное хозяйство от лучших производителей Италии и Германии, а также многократный
контроль влажности на всех стадиях производства позволяет идеально выдержать показатели влажности.
С помощью строгального оборудования производства Италии достигается точная геометрия обрабатываемых
поверхностей, а упаковка в термоусадочную пленку обеспечивает защиту от влаги и механических
повреждений.</p>
{% endblock %}

