{% extends 'products/base.html' %}

{% block title %}
Паркетный завод
{% endblock %}

{% block content %}
<h4>Паркетный завод</h4>
<p>Паркетный завод в г. Смолевичи является производителем качественного натурального материала для
    укладки напольного покрытия. История производства началась в 1994 году. С того времени компания
    превратилась в крупного поставщика паркета, работающего не только на рынке Беларуси. Осуществляются
    поставки в страны Европы и Азии.

    Продукция компании ценится потребителя за отличное качество, безопасность и экологичность,
    стильный дизайн. Важное преимущество сотрудничества с производителем – возможность купить паркет
    по выгодной и доступной стоимости. Цены формируются, исходя из производственных и трудовых затрат,
    без посреднических и розничных наценок.

    АССОРТИМЕНТ ПРОДУКЦИИ
    Смолевичский паркетный завод выпускает широкий перечень сертифицированных материалов для обустройства
    комфортного интерьера:

    штучный паркет из массива дуба, ясеня и клена;
    лакированную и двухслойную паркетную доску;
    хвойную половую доску из древесины хвойных пород;
    строганый шпон и погонажные изделия для оформления помещений разного назначения</p>
{% endblock %}
